<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CP_CONT</key>
	<dict>
		<key>A</key>
		<string>0x0e1929</string>
		<key>B</key>
		<string>0x9bafcc</string>
		<key>C</key>
		<string>0x748399</string>
		<key>D</key>
		<string>0x616d7f</string>
		<key>E</key>
		<string>0x4d5766</string>
		<key>F</key>
		<string>0x8899b3</string>
		<key>G</key>
		<string>0x9bafcc</string>
		<key>H</key>
		<string>0xa63610</string>
		<key>I</key>
		<string>0xffffff</string>
		<key>J</key>
		<string>0x8899b2</string>
		<key>M</key>
		<string>0x9bafcc</string>
		<key>N</key>
		<string>0x616d80</string>
		<key>P</key>
		<string>0x18191a</string>
		<key>s_rightbar_switch_color</key>
		<string>0x33aaff</string>
		<key>s_navbar_title_color</key>
		<string>0x9bafcc</string>
		<key>s_tabbar_text_color_n</key>
		<string></string>
		<key>s_tabbar_text_color_s</key>
		<string></string>
		<key>s_actionbar_text_line_color_s</key>
		<string>0x2e77e5</string>
		<key>s_forum_button_bg_color</key>
		<string></string>
		<key>s_forum_button_line_color</key>
		<string></string>
		<key>s_forum_top_seach_bg_color</key>
		<string></string>
		<key>s_forum_seach_text_color</key>
		<string></string>
		<key>s_forum_button_text_color</key>
		<string></string>
		<key>s_forum_line_color</key>
		<string></string>
		<key>s_message_text_color</key>
		<string></string>
		<key>s_message_line_color</key>
		<string></string>
		<key>s_forum_find_plus_text_color_s</key>
		<string>0x19427F</string>
	</dict>
	<key>CP_BG_LINE</key>
	<dict>
		<key>A</key>
		<string>0x0c1523</string>
		<key>B</key>
		<string>0x0e1828</string>
		<key>C</key>
		<string>0x111f33</string>
		<key>D</key>
		<string>0x15253d</string>
		<key>E</key>
		<string>0x132238</string>
		<key>F</key>
		<string>0x15253d</string>
		<key>G</key>
		<string>0x0e1929</string>
		<key>H</key>
		<string>0x0e1929</string>
		<key>I</key>
		<string>0x192c47</string>
		<key>J</key>
		<string>0x3d4e66</string>
		<key>K</key>
		<string>0x000000</string>
		<key>M</key>
		<string>0x0e1929</string>
		<key>N</key>
		<string>0x0e1929</string>
		<key>X</key>
		<string>0x0c1624</string>
	</dict>
	<key>CP_LINK_TIP</key>
	<dict>
		<key>A</key>
		<string>0x245db2</string>
		<key>C</key>
		<string>0x2e5999</string>
		<key>D</key>
		<string>0xad4d1d</string>
		<key>E</key>
		<string>0x121f33</string>
		<key>F</key>
		<string>0x0083a3</string>
		<key>G</key>
		<string>0x006e8a</string>
	</dict>
	<key>CP_OTHER</key>
	<dict>
		<key>A</key>
		<string>0x562d80</string>
		<key>B</key>
		<string>0xb23b43</string>
		<key>C</key>
		<string>0x177350</string>
		<key>D</key>
		<string>0x2477b2</string>
		<key>E</key>
		<string>0xb25b14</string>
		<key>F</key>
		<string>0x3d4e66</string>
		<key>G</key>
		<string>0xccc7b4</string>
		<key>H</key>
		<string>0x111214</string>
	</dict>
</dict>
</plist>
